@model MusicHub.Models.LocalModels.PlaylistModel

@{
    ViewData["Title"] = "Create";
}

<style>
    p {
        cursor: pointer;
    }

    a:hover {
        text-decoration-line: none;
    }

    table.scroll {
        width: 100%;
    }

        table.scroll tbody,
        table.scroll thead {
            display: block;
        }

    thead tr th {
        height: 30px;
        line-height: 30px;
        /*text-align: left;*/
    }

    table.scroll tbody {
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    tbody {
        /*border-top: 2px solid black;*/
    }

        tbody td, thead th {
            width: 450px; /* Optional */
            /*border-right: 1px solid black;*/
        }

            tbody td:last-child, thead th:last-child {
                border-right: none;
            }


    .bottom-right {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
</style>


<h2>Create new Playlist</h2>
<hr />
<div class="row">
    <form asp-action="Create">

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <table class="table table-hover scroll">
                    <thead>
                        <tr>
                            <th>
                                <p>Select Songs</p>
                            </th>
                            <th>
                                @*<p id="search_name"><a>Name</a></p>*@
                            </th>
                            <th>
                                @*<p id="search_artist"><a>Artist</a></p>*@
                            </th>
                            <th>
                                @*<p id="search_artist"><a>Artist</a></p>*@
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            List<MusicHub.Models.LocalModels.SongModel> songs = ViewBag.Songs;

                            foreach (var song in songs)
                            {<!-- Add table row with song name and genere -->
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                               name="selectedSongs"
                                               value="@song.ID" />
                                        @*@(Html.Raw(song.Assigned ? "checked=\"checked\"" : ""))*@
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => song.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => song.Artist.FullName)
                                    </td>
                                    <td>
                                        <a asp-controller="Song" asp-action="Details" asp-route-id="@song.ID">Details</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary bottom-right" />
        </div>
    </form>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
