@model MusicHub.Models.LocalModels.ArtistModel

@{
    ViewData["Title"] = "Delete";
}

<style>
    a:hover {
        text-decoration-line: none;
    }

    b {
        font-size: 16px;
    }
</style>

<h2>Delete Artist</h2>

<div>
    <span>
        <b>Are you sure you want to delete</b>
        <b>
            @Html.DisplayFor(model => model.Name)
            @Html.DisplayFor(model => model.LastName)
        </b>
        <b>?</b>
    </span>
</div>

<div>
    <br />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
