body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

#Facebook {
    background-color: transparent;
    width: 50px;
    background: url('../images/facebook.png') no-repeat;
    height: 50px;
    font-size: 0px;
    background-size: cover;
    cursor: pointer;
    border: none;
    margin: 5px 10px 0px 10px;
}

#Microsoft {
    background-color: transparent;
    background: url('../images/microsoft.png') no-repeat;
    width: 50px;
    height: 50px;
    font-size: 0px;
    background-size: cover;
    cursor: pointer;
    border: none;
    margin: 5px 10px 0px 10px;
}

#Google {
    background-color: transparent;
    background: url('../images/google.png') no-repeat;
    width: 50px;
    height: 50px;
    font-size: 0px;
    background-size: cover;
    cursor: pointer;
    border: none;
    margin: 5px 10px 0px 10px;
}


#Facebook:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.8;
}

#Microsoft:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.8;
}

#Google:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    opacity: 0.8;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}